extends ../layouts/base

block page
    main.main
        include ../includes/header
        section.customer
            .customer-left
                img.customer__img(src="img/customer.png")
            .customer-right
                .customer-top
                    span.customer__name Max Jones
                    span.customer__status Gold
                    .customer__position Sales & Marketing
                .customer-bottom
                    .customer-info
                        span phone
                        a(href="#").customer-info__elem (+31) 140 175 468
                    .customer-info
                        span address
                        .customer-info__elem Binnenweg 50, Rotterdam
                    a.btn.btn-grey(href="#") create quote
        section.tabs
            ul.tabs-menu
                +tabs('overview', 'active')
                +tabs('orders')
                +tabs('payments')


        