doctype html
html(lang="en")
    // head
    include ../includes/head

    //body
    body
        // mixins
        include ../mixins/mixins

        .wrapper
            // aside
            include ../includes/aside

            // content
            block page

        // scripts
        // include ../includes/scripts
        // scripts end