aside.aside
    a.aside__title(href="#") crm
    nav
        ul.aside-menu
            +menu('fa-tachometer', 'Dashboard')
            +menu('fa-pie-chart', 'Reports')
            +menu('fa-briefcase', 'Customers', 'active')
            +menu('fa-calendar', 'Calendar')
        