aside.aside
    a.aside_title(href="#") crm
    nav
        ul.aside-menu
            li.aside-menu_li
                a(href="#")
                    i.fa.fa-tachometer(aria-hidden="true")
                    | Dashboard
            li.aside-menu_li
                a(href="#")
                    i.fa.fa-pie-chart(aria-hidden="true")
                    | Reports
            li.aside-menu_li.active
                a(href="#")
                    i.fa.fa-briefcase(aria-hidden="true")
                    | Customers
            li.aside-menu_li
                a(href="#")
                    i.fa.fa-calendar(aria-hidden="true")
                    | Calendar
        