header.header
    .header-left
        .breadcrums
            a.bredcrumbs_back(href="#") Customers
            i.fa.fa-chevron-right.breadcrums_chevron(aria-hidden="true")
            span.breadcrums_current Max Jones
    .header-right
        .search
            input.search_input(type="search", placeholder="SEARCH")
            i.fa.fa-search.search_loupe(aria-hidden="true")
        .bell
            i.fa.fa-bell.bell_elem(aria-hidden="true")
            span.bell_number 4
        .user
            img.user_image(src="img/avatar.png")
            span.user_greeting Hello Lauren