header.header
    .breadcrums
        a.bredcrumbs__back(href="#") Customers
        i.fa.fa-chevron-right.breadcrums__chevron(aria-hidden="true")
        span.breadcrums__current Max Jones
    .search
        input.search__input(type="search", placeholder="SEARCH")
        i.fa.fa-search.search__loupe(aria-hidden="true")
    .bell
        i.fa.fa-bell.bell__elem(aria-hidden="true")
        span.bell__number 4
    .user
        img.user__image(src="img/avatar.png")
        span.user__greeting Hello Lauren